* {
 overflow: hidden;
 margin: 0;
 padding: 0;
 border: none; }

body {
 background: rgba(31,31,31,.9);
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: monospace;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center; }

#docbody {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: monospace;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; }

#mechanism_container, #clockface_container, #seconds_container, #marker_container, #hrs_container, #mns_container {
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center; }

#mechanism_container {
 background: rgba(63,63,63,.9); }

#clockface_container {
 position: absolute;
 background: transparent; }

#hrs_container {
 position: absolute;
 background: transparent; }

#mns_container {
 position: absolute;
 background: transparent; }

.cq_elem {
 position: absolute;
 cursor: pointer;
 background: rgba(0,0,0,0); }

#CQM {
 position: absolute;
 border-radius: 50%;
 cursor: default;
 background: rgba(0,200,0,0); }

#DC, #TC {
 /* background: #FFF; */
 position: absolute;
 width: 120px;
 height: 28px;
 top: 10px;
 text-align: center;
 font-family: monospace;
 font-size: 24px;
 color: rgba(255,255,255,1); }

#DC {
 left: 10px; }

#TC {
 right: 10px; }
