* {
 overflow: hidden;
 margin: 0;
 padding: 0;
 border: none; }

body {
 background: rgba(127,127,127,.9);
 width: 100%;
 height: 100vh;
 margin: 0;
 padding: 0;
 font-family: monospace; }

#mecanism_container, #clockface_container {
 position: absolute;
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; }

#mecanism_container {
 background: rgba(191,191,191,.9); }

#clockface_container {
 background: transparent; }

.cq_elem {
 position: absolute;
 cursor: pointer;
 background: rgba(0,0,0,0); }

#CQM {
 position: absolute;
 cursor: pointer;
 background: rgba(0,100,0,.1); }
