@font-face {
 font-family:'Roboto Mono';
 src:url('data:font/woff2;base64,d09GMgABAAAAAAeQAA0AAAAADuwAAAc9AAMAQgAAAAAAAAAAAAAAAAAAAAAAAAAAHDYGYD9TVEFURAA0EQgKi3iJdwE2AiQDGAsYAAQgBYwaBzgb8AxRVHISEvxYyNy8QfPyNpUmOpns+E0G8af/P5ucUpEqxUVSJC7EoL2AHTxY//dobvtFCI10iHgSt7nzfHh7f3cw8xFMIEgCS2OIMLKuls7ehd5dXUkxEuUR5uvml6X1m3fQHS/Tmw3CYWMUrahYlMFjHINwivH489N1jEVeEcmXNEQPJ38WCIBAyClRRnNpLQLHpNGDiJyj+wYQubrGDkcEBQBDQ5g8TVHPxlX4AD6bfRQAEa499Ff6B+LuACwkuNOyKywAUjmz+39uoNulpVLHqFyfk0qEzLz+oAGITkRcwASbfSwB8F9LEAkDAYVwfIyE0K5KejWNhEtLGtO5FB1k3UdBJClJOCe0dek/cV8hOJEzDtvhoO4JBiACyOdAu2UyQAErdMUrtPnXoIPGiYjwSy0LomRJbD8pi5XMnkKf5Tl6PIGLXXuXC7SZ7oPbHbTEe/J6R8+aRcgsb/6E17/EnTzmPtBmujJHXb7Fntxxz9E2cyYi7sBB/GYUCbV5vYY7XjLLs319pxNyR0f6iDrkxrLzdS88Bw3NzcTB9GbqsAcFv3yTzBLZnD7p/fe2r182nfGzvHOKX/DEujBaCD2IhNsyqY66DVcSDzy42po9hpqrj8FuEWTeT7SEoc6UjRof7V1vATrQlFsbF18mvN6aN96goF5mNOE7iGy5kz7i9Ug4wiaGTNG7NBNpbz6Mx3/RPexpXQkv5/4Ros0q5nm+/wvERo1PT953CXkyzM7qB16ksX9U+tTV8pb4dCJbF4aNb+Kgqx+Z0rpM59Fa8ywnioYPO16kteRZE2fZ4breU2i9lvQOG37CscZ1FHq2UEKRdFcVa9za0YeZJZkpes7Aa8FYUnVnGB0/b4zlr6coSpyoY/QR3RwhXyiGGj4nwyZ99suIOW0wfTgjQmy2jpm7Y0XabGuHZuuCDYfzRoy9XqwvNBQWHe1iavgtz6/VCrJTzdxNi7klMnG0yTaxpGvA8/d1cGqq39qQ08wO/Edco8nklVx6WsdXSyt4j94SmlMYzuotRrlRcVLeNng526A2qMp29OdybU8eNxruZVcYDx7kNmf2mzf/9usZ5WDv0Zxff7OuamIkDZ3fZ2WmKEq5CxexzKlprOJFx+pFWmhW89dwEgz3A4+1aRnaQx8zNN+d4GPz0/fVQ1qn81pyXlP869e8zlwNo2/s3PLk7JaxtoD2SFpv7VaDajbveFb71HNlGv0/Ws6J7jGac9OX79U7ikfFfywpMHyXBPXvV+PPRU1sdbYOtCUcG5hmfq0rLSy9Uj9u5JnSfH2+3nDO2SM/rTAo9JvL7YoGpr7mpN2/2bjm7N6DOcPDo75SViadOcvv0Wj43WfOVCTJpFWJXo9oQmX1+7Nm3zUxYDTFbBn69N3Yuc/iofstvce4/s6bA8qenv3KM3cM63vUvK6D860F96215nffEzm1tuItOoVOeVplt51S6ZSFiuIttnLVnJ+36NJ0c/XZM/+V2P+skAvKj1wp4WVklnAOPRZWKeX8iqNHSvlSaSn/ylF+Ba80jWV1OHS8lBQ9zzGJaU1PY1jtjTpOaoqeO9HBtqDkvaivY27FjG9yNjnqYo93zta/nV9eUH6uYfTI05X5pnyT/rLTpj6t0il120rssip/wkO/W0bfgArtzJZpezKXv6pVpK3bx+7Lzub2b1hfmiFLL0t88EA0obLneu/qPYUxAIAZHwgAOvTP0M7kjjDt7/5B/gCAuz9FZADAZ+Hir/79839u3xz/biAEgAYAIMBPfZ16Rmr9/1qzj0kdQviVAMscY/bWNg5jQPCBAAThFIYFfHBBvwJAmMk7IVQAgLNQAgHDWaDBH4+BDqXXQEEUX/ABJwngC0EKwQ/FaYcABJODEITonIVgJOQhhBAJ+QFCoa7wabboMs8gQDC9GQj86f1Ag6CGEx1rWgoUUmon+CCQ/hh8ISoX+CGU/hv4I65pEIBgKgECIWk5BCG8ayEYCd2bFWKZIqGww0wgDMHU4s8JRyC1HgYSmUPFoNB0QE5KRkWk9kQS59Uk37nUtV1ZJsVzUElNLlmEH8O5jkFHAyUqDUhifkwn07RkymTDEMno+nJ6WDglKfZSeARSZFynyUfLrwhFMUlV1I0DeX9lGaSBnGtYrGbXR9oxFmtZNKkwkaaOiMCYIWSBVCb42WFSXxcgdT3+RxD0tI8Dksy2WJOT240t0ErVQz8laYVifNSaKswABnSau0d3K2azFaiRVTpLxxqhkgbX9NsnsQgk/IFxRMWs6lc0giVwYg5UkJEYgdxSJpGJb6eQmXPTcQnloy0jMyWGpD6+BrhggqeMxJBXHZs97Uy04jtwZYRS9FkcOc55twIUnNgNdOrx27KCLEZ0DZLcAdsXa3OGxGBCIKU+lkZEzIalRahQPCovnCCZIgQslki7Tgr4NSQG45NpQlv52GykLLh5E8dkkRhy+msNwkeiRIvBwMTCxsHFAw==') format('woff2'); }

svg {
 font-family: "Roboto Mono", monospace; }

svg g {
 fill:rgba(255,255,255,1); }

svg path {
 fill: rgba(48,96,144,.8);
 fill-rule: evenodd;
 stroke: none; }

svg text {
 font-size: .050cm;
 text-anchor: middle;
 dominant-baseline: central; }

svg .half_h {
 font-size: .075cm; }

svg #hand {
 fill: rgba(20,40,60,1); }

svg .contrapeso {
 fill: rgba(150,150,150,.3);
 stroke: none; }

svg .deco {
 fill: rgba(255,255,255,.7);
 stroke: none; }

.driver_circle {
 fill: rgba(191,191,191,.1);
 stroke-width: .02;
 stroke: rgba(20,40,60,.9); }

.driver_axis {
 fill: rgba(8,8,8,.5);
 stroke: none; }

.driver_pin {
 fill: rgba(8,8,8,.5);
 stroke: none; }
